<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>B*tch at your friends - in the most harmless, fun & addictive way! Make world peace too!</title>
    <style type="text/css">
      body {
        font-family:Helvetica;
        font-size:15px;
        line-height:150%;
        text-align:left;
      }
    </style>
  </head>
  <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
    Hey <%= @user.name %>,<br>
    &nbsp;
    <div>My name is Lisa and I work with the Yo! B*tch app team.<br>
    &nbsp;</div>
    <div>I just saw that you installed the app. Thanks so much for trying it out.<br>
    &nbsp;</div>
    <div>Were you able to invite friends &amp; send them Bitch messages? It's so much fun in Bitching :)<br>
    &nbsp;</div>
    <div>Just to let you know, I am only an email away if you need any help - always eager to hear your feedback.<br>
    &nbsp;
    <div>Cheers!</div>
    <div>Lisa</div>
    <div>Yo! B*tch team</div>
  </body>
</html>
